<!doctype html>
<html>
<head>
    <title>Amtrak Price History</title>
    <style>
table tr td, table tr th {
    padding: 5px;
    text-align: left;
}
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    <script>
getRoutes = async function() {
    fetch('routes', {method: 'GET'})
    .then(resp => resp.json())
    .then((out) => {
        console.log('routes', out);
        document.querySelector('#routes').innerHTML = '';
        out.forEach(i => {
            var e = document.createElement('option');
            e.innerText = i;
            e.value = i;
            document.querySelector('#routes').appendChild(e);
        });
    });
}
getDates = async function(route) {
    document.querySelectorAll('.selectedroute').forEach(i => i.innerText = route);
    document.querySelector('#dateselect').style.display = '';
    history.pushState({}, "", "?route=" + route);
    fetch('routes/' + route, {method: 'GET'})
    .then(resp => resp.json())
    .then((out) => {
        console.log('dates', out);
        document.querySelector('#dates').innerHTML = '';
        Object.keys(out).sort().forEach(i => {
            var e = document.createElement('option');
            e.innerText = i + ' (' + out[i] + ' scrapes)';
            e.value = route + '/' + i;
            document.querySelector('#dates').appendChild(e);
        });
    });
}
getDate = function(path) {
    var p = path.split('/');
    var route = p[0];
    var date = p[1];
    document.querySelector('#datedetails').style.display = '';
    document.querySelectorAll('.selectedroute').forEach(i => i.innerText = route);
    document.querySelectorAll('.selecteddate').forEach(i => i.innerText = date);
    history.pushState({}, "", "?route=" + route + "&date=" + date);
    document.querySelector('#datetrains').innerHTML = '<tr><td colspan="8">Loading data...</td></tr>';
    
    analyze(route, date, {}, function(out) {
        var entries = Object.entries(out[date]);
        var trains = [];
        for (var i=0; i<entries.length; i++) {
            var entry = entries[i];
            trains.push([entry[1]['start'], entry[0], entry[1]]);
        }
        trains.sort();
        console.log('trains', trains);
        var sparkline_data = {};
        var numSamples = [];
        var minDt = [];
        var maxDt = [];
        document.querySelector('#datetrains').innerHTML = '';
        trains.forEach((fields, i) => {
            var dict = fields[2];
            dict['name'] = fields[1];
            dict['meanPrice'] = dict['meanPrice'].toFixed(2);
            dict['sparkline_id'] = 'sparkline_' + i;
            
            // '2023-05-23T06:15:00' => 202305230615
            var skipAfter = parseInt(date) * 10000 + parseInt(dict['start'].split('T')[1].replace(':', '').split(':')[0]);
            sparkline_data[dict['sparkline_id']] = [dict['prices'], skipAfter];
            numSamples.push(dict['prices'].length);
            if (dict['prices']) {
                minDt.push(parseInt(dict['prices'][0][0].replace('-')));
                maxDt.push(parseInt(dict['prices'][dict['prices'].length-1][0].replace('-')));
            }

            document.querySelector('#datetrains').innerHTML += renderHTML('train_row', dict);
        });

        document.querySelector('#datedetails_summary').innerHTML = renderHTML('date_summary', {
            'minTime': Math.min(...minDt),
            'maxTime': Math.max(...maxDt),
            'totalSamples': numSamples.reduceRight((a,b)=>a+b),
            'avgSamples': parseInt(numSamples.reduceRight((a,b)=>a+b) / numSamples.length),
            'trainCount': numSamples.length,
        })

        Object.entries(sparkline_data).forEach((o) => {
            buildSparkline(o[0], o[1][0], o[1][1]);
        });
    
    });
}

analyze = function(route, date, params, cb) {
    fetch(
        'analyzed/' + route + '/' + date + '?' + new URLSearchParams(params || {}).toString(),
        {method: 'GET'}
    )
    .then(resp => resp.json())
    .then((out) => {
        console.log('analyze '+route+' '+date, out);
        cb(out);
    });
}

buildSparkline = function(id, data, skipAfter) {
    var dataLabels = [];
    var dataPoints = [];
    data.forEach(d => {
        // ['20230510-0403', 259]
        var dtInt = parseInt(d[0].replace('-', ''));
        if (dtInt > skipAfter) return;
        dataLabels.push(d[0]);
        dataPoints.push(d[1]);
    });
    var cjsOptions = {
        responsive: true,
        maintainAspectRatio: true,
        animation: {
            easing: 'easeInOutQuad',
            duration: 500
        },

        elements: {
            line: {
                tension: 0.4
            }
        },

        scales: {
            x: {
                border: {
                    display: false
                },
                grid: {
                    display: false
                },
                ticks: {
                    display: false
                }
            },
            y: {
                ticks: {
                    display: false
                },
                border: {
                    display: false
                },
                grid: {
                    display: false
                }
            }
        },

        plugins: {
            legend: {
                display: false,
            },
            
        },
    };
    var cjsData = {
        labels: dataLabels,
        datasets: [
            {
                label: '',
                borderColor: '#282828',
                backgroundColor: 'transparent',
                pointBackgroundColor: 'white',
                data: dataPoints,
                fill: 'origin',
                borderWidth: 2,
                pointRadius: 0,
                hitRadius: 25,
                pointHoverRadius: 6,
                pointHoverBackgroundColor: '#282828',
                pointHoverBorderColor: '#fff',
                pointHoverBorderWidth: 6,
            }
        ]
    };
    var el = document.getElementById(id).getContext('2d');
    var inst = new Chart(el, {
        type: 'line',
        data: cjsData,
        options: cjsOptions,
        plugins: []
    });
}

renderHTML = function(tplId, dict) {
    var tpl = document.querySelector("script#" + tplId);
    var html = tpl.innerHTML;
    for (var key in dict) {
        html = html.replace(new RegExp("\\{" + key + "\\}", "g"), dict[key]);
        html = html.replace(new RegExp("\\{\\{ " + key + " \\}\\}", "g"), dict[key]);
    }
    return html;
}

window.onload = function() {
    getRoutes();
}
    </script>
</head>
<body>
    <h1>Amtrak Price History</h1>
    <h2>Choose a route:</h2>
    <select id="routes" size=5 style="min-width: 250px" onchange="getDates(this.value)"></select>
    <div id="dateselect" style="display: none">
        <h2>Choose a date for <span class="selectedroute"></span>:</h2>
        <select id="dates" size=25 style="min-width: 250px" onchange="getDate(this.value)"></select>

    </div>
    <div id="datedetails" style="display:none">
        <h2>Trains on <span class="selecteddate"></span></h2>
        <div id="datedetails_summary"></div>
        <script type="text/template" id="date_summary">
            {% raw %}
            For {{ trainCount }} trains, average of {{ avgSamples }} samples scraped between {{ minTime }} and {{ maxTime }}
            {% endraw %}
        </script>
        <table border="1">
            <thead>
                <tr>
                    <th>Departure</th>
                    <th>Train</th>
                    <th>Last Price</th>
                    <th>Min Price</th>
                    <th>Mode Price</th>
                    <th>Mean Price</th>
                    <td></td>
                </tr>
            </thead>
            <tbody id="datetrains">
                <tr>
                    <td colspan="8">Loading data...</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script type="text/template" id="train_row">
        {% raw %}
        <tr>
            <th>{{ start }}</th>
            <th>{{ name }}</th>
            <td>
                <b>${{ curPrice }}</b><br />
                for {{ curPriceFor }}<br />
                {{ curPriceAt }} before depart
            </td>
            <td>
                <b>${{ minPrice }}</b><br />
                for {{ minPriceFor }}<br />
                {{ minPriceAt }} before depart
            </td>
            <td>
                <b>${{ modePrice }}</b><br />
                for {{ modePriceFor }}<br />
                &nbsp;
            </td>
            <td>
                <b>${{ meanPrice }}</b><br />
                &nbsp;<br />
                &nbsp;
            </td>
            <td class="sparkline">
                <canvas height="100" width="400" id="{{ sparkline_id }}"></canvas>
            </td>
        </tr>
        {% endraw %}
    </script>


    {% if route %}
        <script>getDates({{ route|tojson }})</script>
        {% if date %}
            <script>getDate({{ route|tojson }} + '/' + {{ date|tojson }})</script>
        {% endif %}
    {% endif %}
</body>
</html>